<header>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./topbar.js" type="text/javascript" defer></script>
    <script src="./chapter.js" type="text/javascript" defer></script>
    <link rel="stylesheet" type="text/css" href="./course-styles-test.css" />
    <title>mgrApp</title>
  </header>